body {
   background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
   background-size: auto 100vh;
   font-family: 'Nova Round', Georgia;
   height:  100vh;
}

.menu {
   background-color: white;
   box-shadow: 0px 1px 2px 0px #666666;
   border-radius: 10px;
   /*border: 0px 10px;*/
   /*padding: 15px 10px 15px 10px;*/
}

.menu ul {
   display: flex;
   justify-content: space-around;
   padding: 10px 0px;
   margin: 0px;
   font-family: 'PT Sans', Georgia;
   text-emphasis-color: black;
   color: green;
   font-size: 25px;
   padding: 12px;
}

.menu li {
   list-style: none;
}

a {
   color: #A082F0;
   text-decoration: none;
}

a:hover {
   color: #FF96C9;
   /*text-decoration: red underline;*/
}

.site-title {
   color: whitesmoke;
   text-align: center;
   font-size: 60px;
   font-family: 'Nova Flat', Georgia;
   margin: 20px 20px 0px 20px;
   padding: 20px 20px 0px 20px;
   text-shadow: 1px 1px 5px #555555;
}

.site-subtitle {
  color: white;
  font-style: italic;
  text-align: center;
  margin: 0px;
  padding: 10px 10px 20px 10px;
  text-shadow: 1px 1px 2px #777777;
}

.corpo {
  color: whitesmoke;
  font-size: 20px;
  margin: 50px 500px;
  padding: 5px;
  text-align: justify;
}

h4 {
  font-size: 25px;
  margin: 0px 500px;
  padding: 5px;
  text-align: inherit;
}
